@font-face {
  font-family: 'impact';
  src: url('../fonts/impact.ttf');
  src: url('../fonts/Impacted.ttf');
  font-weight: 400;
  font-style: normal;
}
.impact {
  font-family: 'impact' !important;
}